<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Bitcoin
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Bitcoin</ion-title>
    </ion-toolbar>
  </ion-header>



<!--The code to display images -->
<div style="text-align:center">
  <h1>Currency: {{currentCustomer}}</h1>
  <div><img alt="item" src="{{currencyIcon}}"></div>
  <h1>Price In Euro: {{cryptoPrice}}</h1>
  </div>
</ion-content>
